* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #15202B;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input, button {
  outline: 0;
}

button {
  cursor: pointer;
}

button:focus {
  outline: 2px solid #8ED0F9;
}

a {
  color: #1da1f2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

image {
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}