section.main-content > aside.widgets {
  width: 397px;
  margin-left: 20px;
  
  position: -webkit-sticky; /* Safari Browser compatability*/
  position: sticky;
  top: 55px;
  align-self: flex-start; /* https://stackoverflow.com/questions/44446671/my-position-sticky-element-isnt-sticky-when-using-flexbox */
}

section.main-content > aside.widgets > div {
  width: 348px;
  background-color: #192734;
  border-radius: 15px;
  margin-bottom: 20px;
}

section.main-content > aside.widgets > div.widget h1 {
  font-size: 19px;
  color: #fff;
}

section.main-content > aside.widgets > div.widget strong {
  font-size: 15px;
  color: #fff;
}

section.main-content > aside.widgets > div.widget span
 {
  font-size: 15px;
  color: #8899a6;
}

section.main-content > aside.widgets > div.widget > div {
  padding: 10px 15px;
}

section.main-content > aside.widgets > div.widget > ul {
  list-style: none;
}

section.main-content > aside.widgets > div.widget > ul > li {
  padding: 10px 15px;
  border-top: 1px solid #38444d;
}

section.main-content > aside.widgets > div.widget > ul > li:hover {
  background: #202E3A;
}

section.main-content > aside.widgets > div.widget > ul > li:last-child {
  padding: 15px;
  border-radius: 0 0 15px 15px;
}

section.main-content > aside.widgets > div.widget > ul > li > a {
  display: flex;
  text-decoration: none;
}

section.main-content > aside.widgets > div.widget > ul > li > a > img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #d0d5d9;
  margin-right: 7px;

  display: flex;
  align-self: center;
}

section.main-content > aside.widgets > div.widget > ul > li > a > div {
  display: flex;
  flex-direction: column;
  align-self: center;
}

section.main-content > aside.widgets > div.widget > ul > li > a > button {
  margin-left: auto;
  width: 79px;
  height: 30px;

  background-color: inherit;
  border: 1px solid #1da1f2;
  border-radius: 16px;
    
  font-size: 15px;
  font-weight: bold;
  color: #1da1f2;
  
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

section.main-content > aside.widgets > div.widget > ul > li > a > button:hover {
  background-color: #20394D;
}

section.main-content > aside.widgets > div.trends > ul > li > a {
  display: flex;
  flex-direction: column;
}
section.main-content > aside.widgets > div.trends > ul > li > a > strong {
  margin-top: 5px;
}

section.main-content > aside.widgets > footer {
  width: 350px;
  padding: 0 15px;
}

section.main-content > aside.widgets > footer > nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

section.main-content > aside.widgets > footer > nav > a {
  font-size: 13px;
  color: #8899a6;

  padding-right: 10px;
  margin-bottom: 2px;
  margin-right: 2px;
}

section.main-content > aside.widgets > footer > nav > p {
  font-size: 13px;
  color: #8899a6;
  padding-right: 10px;
  margin-bottom: 2px;
  margin-right: 2px;
}