* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #15202B;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  
}

input, 
button {
  outline: 0;
}

a {
  color: #1da1f2;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

header#main-header {
  height: 54px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
  position: relative;
  z-index: 1;
}

header#main-header > div.wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header#main-header > div.wrapper > nav  {
  width: 315px;
  margin-top: 3px;
}

header#main-header > div.wrapper > nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header#main-header > div.wrapper > nav > ul > li {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}

header#main-header > div.wrapper > nav > ul > li:nth-child(2) {
  margin-left: 30px;
}

header#main-header > div.wrapper > nav > ul > li:nth-child(3) {
  margin-left: 25px;
}

header#main-header > div.wrapper > nav img {
  margin-right: 7px;
}

header#main-header > div.wrapper > img {
  width: 32px;
  height: 32px;
}

header#main-header > div.wrapper > section.main-header-right-side {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header#main-header > div.wrapper > section.main-header-right-side > div.searchBar {
  display: flex;
}

header#main-header > div.wrapper > section.main-header-right-side > div.searchBar > div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #253341;
  border-radius: 20px 0 0 20px;
}

header#main-header > div.wrapper > section.main-header-right-side > div.searchBar > div > img {
  width: 40px;
  height: 18.75px;
  padding-left: 10px;
}

header#main-header > div.wrapper > section.main-header-right-side > div.searchBar > input {
  width: 483.25px;
  height: 40px;
  display:flex;
  align-content: center;
  border-style: none;
  border-radius: 0 20px 20px 0;
  background-color: #253341;
  font-family: Arial;
  font-size: 13px;
  color: #fff;
  padding: 10px;
}

header#main-header > div.wrapper > section.main-header-right-side > div.searchBar > input::placeholder {
  font-size: 15px;
  color: #fff;
}

header#main-header > div.wrapper > section.main-header-right-side > img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin: 0 16px 0 15px;
}

header#main-header > div.wrapper > section.main-header-right-side > button {
  width: 102px;
  height: 34px;
  
  border-style: none;
  border-radius: 16px;
  
  background-color: #1da1f2;
  
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

section.profile-banner {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);

}

section.profile-banner > div.wrapper {
  height: 380px;
  display: flex;
  align-items: center;
}

section.profile-banner > div.wrapper > a {
  height: 100%;
}

section.profile-banner > div.wrapper > a > img {
  height: 100%; 
}

section.profile-details {
  height: 60px;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.25);
}

section.profile-details > div.wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 315px;
}

section.profile-details > div.wrapper > ul {
  height: 100%;
  
  display: flex;
  justify-content: space-between;
}

section.profile-details > div.wrapper > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 15px;

  position: relative;
}

section.profile-details > div.wrapper > ul > li.active::after{
  content: '';
  width: 100%;
  height: 2px;

  position: absolute;
  bottom: 0;
  left: 0;

  background-color: #1da1f2;
}

section.profile-details > div.wrapper > ul > li > strong {
  font-size: 12px;
  color: #8899A6;
}

section.profile-details > div.wrapper > ul > li > p {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-top: 2px;
}

section.profile-details > div.wrapper > ul > li.active > p {
  color: #1da1f2;
}

section.profile-details > div.wrapper > div {
  width: 122px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

section.profile-details > div.wrapper > div > button {
  width: 99px;

  background-color: #15202B;
  border: 1px solid #1da1f2;
  border-radius: 16px;
    
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

section.main-content {

  margin-bottom: 100px;
  /* remove */
}

section.main-content {
  display: flex;
  margin-top: 13px;
}

section.main-content > aside.profile {
  width: 260px;
  height: 639px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 25px;
}

section.main-content > aside.profile > img.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -178px;
}

section.main-content > aside.profile > header > h1 {
  font-size: 19px;
  color: #fff;
}

section.main-content > aside.profile > header > span {
  font-size: 15px;
  color: #8899A6;
}

section.main-content > aside.profile > header > p {
  font-size: 15px;
  color: #fff;
  margin-top: 15px;
}

section.main-content > aside.profile > ul {
  list-style: none;
}

section.main-content > aside.profile > ul > li {
  font-size: 15px;
  color: #8899A6;
}

section.main-content > aside.profile > ul > li + li {
  margin-top: 8px;
}

section.main-content > aside.profile > ul > li > img {
  margin-right: 5px;
}

section.main-content > aside.profile > div.widget {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section.main-content > aside.profile > div.widget > strong {
  font-weight: normal;
  font-size: 15px;
  color: #1da1f2;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

section.main-content > aside.profile > div.widget > strong > img {
  margin-right: 5px;
}

section.main-content > aside.profile > div.followers > ul {
  /* width: 260px; */
  
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

section.main-content aside.profile > div.followers > ul > li {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #d0d5d9;
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: 5px;
}

section.main-content > aside.profile > div.followers > ul > li:not(:nth-child(5n)) {
  margin-right: 5px;
}

section.main-content aside.profile > div.followers > ul > li > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  flex-grow: 1;
  flex-shrink: 0;
}

section.main-content > aside.profile > div.media > ul {
  /* width: 260px; */

  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

section.main-content > aside.profile > div.media > ul > li {
  width: 83px;
  height: 83px;
  background-color: #d0d5d9;
  border-radius: 4px;
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: 5px;
}

section.main-content > aside.profile > div.media > ul > li > img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  flex-grow: 1;
  flex-shrink: 0;
}

section.main-content > aside.profile > div.media > ul > li:not(:nth-child(3n)) {
  margin-right: 5px;
}

section.main-content > article.timeline {
  width: 590px;
  border: 1px solid #38444d;
}

section.main-content > aside.widgets {
  width: 397px;
  margin-left: 20px;
}

section.main-content > aside.widgets > div {
  width: 348px;
  background-color: #192734;
  border-radius: 15px;
  margin-bottom: 20px;
}

section.main-content > aside.widgets > div.widget h1 {
  font-size: 19px;
  color: #fff;
}

section.main-content > aside.widgets > div.widget strong {
  font-size: 15px;
  color: #fff;
}

section.main-content > aside.widgets > div.widget span
 {
  font-size: 15px;
  color: #8899a6;
}

section.main-content > aside.widgets > div.widget > div {
  padding: 10px 15px;
}

section.main-content > aside.widgets > div.widget > ul {
  list-style: none;
}

section.main-content > aside.widgets > div.widget > ul > li {
  padding: 10px 15px;
  border-top: 1px solid #38444d;
}

section.main-content > aside.widgets > div.widget > ul > li:hover {
  background: #202E3A;
}

section.main-content > aside.widgets > div.widget > ul > li:last-child {
  padding: 15px;
  border-radius: 0 0 15px 15px;
}

section.main-content > aside.widgets > div.widget > ul > li > a {
  display: flex;
  text-decoration: none;
}

section.main-content > aside.widgets > div.widget > ul > li > a > img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #d0d5d9;
  margin-right: 7px;
}

section.main-content > aside.widgets > div.widget > ul > li > a > div {
  display: flex;
  flex-direction: column;
}

section.main-content > aside.widgets > div.widget > ul > li > a > button {
  margin-left: auto;
  width: 79px;
  height: 30px;

  background-color: #15202B;
  border: 1px solid #1da1f2;
  border-radius: 16px;
    
  font-size: 15px;
  font-weight: bold;
  color: #1da1f2;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

section.main-content > aside.widgets > div.trends > ul > li {
  display: flex;
  flex-direction: column;
}
section.main-content > aside.widgets > div.trends > ul > li > strong {
  margin-top: 5px;
}

section.main-content > aside.widgets > footer {
  width: 350px;
  padding: 0 15px;
}

section.main-content > aside.widgets > footer > nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

section.main-content > aside.widgets > footer > nav > a {
  font-size: 13px;
  color: #8899a6;
  padding-right: 10px;
  margin-bottom: 2px;
  margin-right: 2px;
}

